<mat-card>
    <mat-card-header>
      <mat-card-title>About This Application</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>This task manager application allows users to manage their tasks efficiently. You can add, delete, and set reminders for tasks. It is simple to use and helps you stay organized.</p>
    </mat-card-content>
    <mat-card-actions>
      <app-navigation-button buttonText="Back to Home" link="/"></app-navigation-button>
    </mat-card-actions>
  </mat-card>
  